@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Primary colors */

  --pale--blue: hsl(225, 100%, 94%);
  --bright--blue: hsl(245, 75%, 52%);

  /* Neutral colors */

  --very--pale--blue: hsl(225, 100%, 98%);
  --desaturated--blue: hsl(224, 23%, 55%);
  --dark--blue: hsl(223, 47%, 23%);

  /* Font */

  --font--family: "Red Hat Display", sans-serif;
  --font--size: 1rem;
  --font-weight--light: 400;
  --font-weight--regular: 700;
  --font-weight--bold: 900;

  /* Widths */

  --mobile-width: 375px;
  --desktop-width: 1440px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font--family);
  font-weight: var(--font-weight--light);
  font-size: var(--font--size);
  min-height: 100vh;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-image: url("../images/pattern-background-desktop.svg");
  background-color: var(--pale--blue);
  background-repeat: no-repeat;
  background-size: contain;
}

main {
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.order__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  border-radius: 1.2rem;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 var(--desaturated--blue);
  height: 43.7rem;
}

.order__card__image img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}

.order__card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.order__card__content h1 {
  font-weight: var(--font-weight--bold);
  color: var(--dark--blue);
  font-size: 1.76rem;
}

.order__card__content p {
  width: 20rem;
  color: var(--desaturated--blue);
  line-height: 1.5;
  margin-bottom: 1.2rem;
}

.order__card__content__plan {
  width: 100%;
  max-width: 22.1rem;
  height: 6.2rem;
  background-color: var(--very--pale--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.order__card__content__plan a {
  font-size: 0.8rem;
  color: var(--bright--blue);
  font-weight: var(--font-weight--regular);
  text-decoration: underline;
  transition: all 0.3s ease;
  margin-left: -2rem;
}

.order__card__content__plan a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.order__card__content__plan__details {
  width: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  margin-left: -5rem;
}

.order__card__content__plan__details h2 {
  font-size: 1rem;
  font-weight: var(--font-weight--regular);
  color: var(--dark--blue);
}

.order__card__content__plan p {
  font-weight: var(--font-weight--light);
  color: var(--desaturated--blue);
}

.order__card__content__proceed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.order__card__content__proceed a:nth-child(1) {
  width: 22.1rem;
  height: 3.1rem;
  padding: 0.95rem;
  background-color: var(--bright--blue);
  color: #ffffff;
  font-weight: var(--font-weight--bold);
  box-shadow: 0 0 10px 0 var(--desaturated--blue);
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
  transition: all 0.3s ease;
}

.order__card__content__proceed a:nth-child(1):hover {
  opacity: 0.8;
}

.order__card__content__proceed button {
  font-weight: var(--font-weight--bold);
  color: var(--desaturated--blue);
  transition: all 0.3s ease;
  font-size: 0.95rem;
}

.order__card__content__proceed button:hover {
  color: var(--dark--blue);
}

@media screen and (max-width: 498px) {
  body {
    background-image: url("../images/pattern-background-mobile.svg");
  }

  .order__card {
    width: 20.6rem;
    height: 35.6rem;
    gap: 2rem;
    transition: all 0.3s ease;
  }

  .order__card__image {
    width: 20.6rem;
    height: 10rem;
  }

  .order__card__content {
    margin-bottom: -2rem;
  }

  .order__card__content p {
    width: 16.5rem;
    margin-bottom: 0.8rem;
  }

  .order__card__content__plan {
    width: 17.5rem;
    height: 5rem;
    margin-bottom: 1rem;
  }

  .order__card__content__plan a {
    margin-left: -3rem;
  }

  .order__card__content__plan__details h2 {
    font-size: 0.9rem;
  }

  .order__card__content__proceed a:nth-child(1) {
    width: 17.5rem;
    padding: 0.9rem 2rem;
  }

  .order__card__content__proceed button {
    font-size: 0.9rem;
  }
}

.attribution {
  font-size: 0.68rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
